
body {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff7b00;
    text-align: center;
}

button {
    margin: 10px;
}

form {
    display: flex; 
    flex-direction: column;

    justify-content: space-around; 
    align-items: center;
    margin: 5%;
}

p {
    text-align: center;
    margin: 5%;
}

.btn {
    background-color: #ff8800;
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    border-style: hidden;
    margin: 1% 4% 1% 4%;
    padding: 1% 5% 1% 5%;
}

.cgi-input {
    margin: 3%;
}

.formbox {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 10% 1% 10%;
    border-color: #ff8800;
    background-color: #fa80df8a;
    border-width: 3px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.memebox {
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-wrap: wrap;       
    gap: 20px;             
}

.meme {
    max-width: 50%;
}

.student {
    max-width: 100%;
}